.tDnD_whileDrag {
	background-color: #eee;
}

tr.alt td {
	background-color: #ecf6fc;
}

tr.myDragClass td {
    color: white;
    background-color: black;
}

td.dragHandle {
    
}

td.showDragHandle {
	background-image: url(sort.gif);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: move;
}

td.tocTime {
  text-align: right;
}

.inputField {
  width: 150px;
  margin-top: 5px;
}

.lblField {
  width: 150px;
}

.btnField {
  margin-top: 5px;
}

span.frmTitle {
  font-weight: bold;
  display: block;
}

.inputForm {
  margin-left: 40px;
  float: right;
  background: #DDEEEE;
  padding: 10px;
}