.tDnD_whileDrag {
	background-color: #eee;
}

tr.alt td {
	background-color: #ecf6fc;
}

tr.myDragClass td {
    color: white;
    background-color: black;
}
			
td.dragHandle {
    
}

td.showDragHandle {
	background-image: url(sort.gif);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: move;
}